mat-form-field {
  padding: 10px;
  width: 100%;
}

.tab-container,
.group-container {
  display: flex;
  flex-wrap: wrap;
  --columns: 1;
}

.tab-container .mat-card,
.group-container .item {
  --span: 1;
  flex-grow: 0;
  flex-basis: calc((100% / var(--columns)) * var(--span) - 20px);
  margin: 10px;
}

[data-colomns="1"] { --columns: 1; }
[data-colomns="2"] { --columns: 2; }
[data-colomns="3"] { --columns: 3; }
[data-colomns="4"] { --columns: 4; }
[data-colomns="5"] { --columns: 5; }
[data-colomns="6"] { --columns: 6; }
[data-span="1"] { --span: 1; }
[data-span="2"] { --span: 2; }
[data-span="3"] { --span: 3; }
[data-span="4"] { --span: 4; }
[data-span="5"] { --span: 5; }
[data-span="6"] { --span: 6; }
