<h1 mat-dialog-title>Edit student {{student.person.name}} {{student.person.surname}}</h1>
<div mat-dialog-content>

  <mat-tab-group>
    <mat-tab *ngFor="let tab of detalsDefinition.tabs" [label]="tab.label">

      <div class="tab-container" [style]="'--columns: ' + tab.getColumns()">
        <mat-card *ngFor="let group of tab.groups" [style]="'--span: ' + group.getSpan()">
          <mat-card-subtitle *ngIf="group.label">{{group.label}}</mat-card-subtitle>
          <mat-card-content [style]="'--columns: ' + group.getColumns()">

            <div class="group-container" [style]="'--columns: ' + group.getColumns()">
              <div class="item" *ngFor="let field of group.fields" [style]="'--span: ' + field.getSpan()">
                <mat-form-field *ngIf="field.type === 'text'">
                  <mat-label>{{field.label}}</mat-label>
                  <input matInput type="text" [placeholder]="field.placeholder" [ngModel]="source(field.source)" (ngModelChange)="source(field.source, $event)" [disabled]="!field.editable" />
                </mat-form-field>
                <mat-form-field *ngIf="field.type === 'textarea'">
                  <mat-label>{{field.label}}</mat-label>
                  <textarea matInput type="text" [placeholder]="field.placeholder" [ngModel]="source(field.source)" (ngModelChange)="source(field.source, $event)" [disabled]="!field.editable">
                      </textarea>
                </mat-form-field>
                <mat-form-field *ngIf="field.type === 'email'">
                  <mat-label>{{field.label}}</mat-label>
                  <input matInput type="email" [placeholder]="field.placeholder" [ngModel]="source(field.source)" (ngModelChange)="source(field.source, $event)" [disabled]="!field.editable" />
                </mat-form-field>
                <mat-form-field *ngIf="field.type === 'date'">
                  <mat-label>{{field.label}}</mat-label>
                  <input matInput type="date" [placeholder]="field.placeholder" [ngModel]="source(field.source)| date:'yyyy-MM-dd'" (ngModelChange)="source(field.source, $event)" [disabled]="!field.editable" />
                </mat-form-field>
                <mat-form-field *ngIf="field.type === 'select'">
                  <mat-label>{{field.label}}</mat-label>
                  <mat-select [ngModel]="source(field.source)" (ngModelChange)="source(field.source, $event)">
                    <mat-option *ngFor="let item of field.items" [value]="item.id">
                      {{ item.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="field.type === 'multiple'">
                  <mat-label>{{field.label}}</mat-label>
                  <mat-select multiple [ngModel]="source(field.source)" (ngModelChange)="source(field.source, $event)" [compareWith]="compareById">
                    <mat-option *ngFor="let item of field.items" [value]="item">
                      {{ item.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-label *ngIf="field.type === 'label'">{{field.label}}</mat-label>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="student" cdkFocusInitial>Save</button>
</div>
