tr.mat-footer-row,
tr.mat-row {
  height: 30px;
}

tr.mat-header-row {
    height: 30px;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0 5px;
}

td.mat-column-portOfTravel {
  min-width: 130px;
}
td.mat-column-enrollmentStatus {
  min-width: 130px;
}
td.mat-column-residentialStatus {
  min-width: 130px;
}
td.mat-column-scholarshipStatus {
  min-width: 130px;
}
