<mat-card>
  <mat-card-content>

    <div class="students-table-container">
      <table mat-table [dataSource]="students" class="students-table" matSort matSortActive="uni10Id" matSortDisableClear matSortDirection="desc">
        <!-- uni10Id Column -->
        <ng-container matColumnDef="uni10Id">
          <th mat-header-cell *matHeaderCellDef>Uni10 Id</th>
          <td mat-cell *matCellDef="let row;let i = index;" [attr.rowspan]="spans[i]" [style.display]="spans[i] == -1 ? 'none' : ''" [title]="'id:' + row.id + ', personId: ' + row.person.id">
            {{ row.uni10Id }}
          </td>
        </ng-container>

        <!-- name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row;let i = index;" [attr.rowspan]="spans[i]" [style.display]="spans[i] == -1 ? 'none' : ''">{{ row.person.name }}</td>
        </ng-container>

        <!-- surname Column -->
        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef>Surname</th>
          <td mat-cell *matCellDef="let row;let i = index;" [attr.rowspan]="spans[i]" [style.display]="spans[i] == -1 ? 'none' : ''">{{ row.person.surname }}</td>
        </ng-container>

        <!-- gender Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>Gender</th>
          <td mat-cell *matCellDef="let row;let i = index;" [attr.rowspan]="spans[i]" [style.display]="spans[i] == -1 ?  'none' : ''" [title]="row.person.genderAsText">
            {{ row.person.genderAsLetter }}
          </td>
        </ng-container>

        <!-- Port of travel Column -->
        <ng-container matColumnDef="portOfTravel">
          <th mat-header-cell *matHeaderCellDef>Port of travel</th>
          <td mat-cell *matCellDef="let row;let i = index;" [attr.rowspan]="spans[i]" [style.display]="spans[i] == -1 ?  'none' : ''">
            <mat-select [(value)]="row.portOfTravel" (selectionChange)="updatePortOfTravel(row)">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let item of dictionary.portsOfTravel" [value]="item.name">
                {{ item.name }}</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </td>
        </ng-container>

        <!-- Programme Column -->
        <ng-container matColumnDef="programme">
          <th mat-header-cell *matHeaderCellDef>Programme</th>
          <td mat-cell *matCellDef="let row;" [title]="row.membership.institution.name + ' => ' + row.membership.department.name + ' | membershipId:' + row.membership.id">
            {{ row.membership.programme.name }}
          </td>
        </ng-container>

        <!-- Year Column -->
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>Year</th>
          <td mat-cell *matCellDef="let row;">
            {{ row.membership.membershipSemester.semester.yearOfStudy }}
          </td>
        </ng-container>

        <!-- Semester Column -->
        <ng-container matColumnDef="semester">
          <th mat-header-cell *matHeaderCellDef>Semester</th>
          <td mat-cell *matCellDef="let row;" [title]="row.membership.membershipSemester.semester.name +  ' (' +row.membership.membershipSemester.semester.number + ')'">
            {{ row.membership.membershipSemester.semester.semesterOfYear }}
          </td>
        </ng-container>

        <!-- Cum. GPA Column -->
        <ng-container matColumnDef="gpa">
          <th mat-header-cell *matHeaderCellDef>Cum. GPA</th>
          <td mat-cell *matCellDef="let row;">{{ row.membership.gpa }}</td>
        </ng-container>

        <!-- Enrollment Status Column -->
        <ng-container matColumnDef="enrollmentStatus">
          <th mat-header-cell *matHeaderCellDef>Enrollment Status</th>
          <td mat-cell *matCellDef="let row;let i = index;">
            <mat-select [(value)]="row.membership.membershipSemester.enrollmentStatus.value.id" (selectionChange)="updateEnrollmentStatus(row)">
              <mat-option *ngFor="let item of dictionary.enrollmentStatuses" [value]="item.id">
                {{ item.name }}</mat-option>
            </mat-select>
          </td>
        </ng-container>

        <!-- Residential Status Column -->
        <ng-container matColumnDef="residentialStatus">
          <th mat-header-cell *matHeaderCellDef>Residential status</th>
          <td mat-cell *matCellDef="let row;let i = index;" [attr.rowspan]="spans[i]" [style.display]="spans[i] == -1 ?  'none' : ''">
            <mat-select [(value)]="row.residentialStatus" (selectionChange)="updateResidentialStatus(row)">
              <mat-option *ngFor="let item of dictionary.residentialStatuses" [value]="item.name">
                {{ item.name }}</mat-option>
            </mat-select>
          </td>
        </ng-container>

        <!-- Scholarship Status Column -->
        <ng-container matColumnDef="scholarshipStatus">
          <th mat-header-cell *matHeaderCellDef>Scholarship Status</th>
          <td mat-cell *matCellDef="let row;let i = index;" [attr.rowspan]="spans[i]" [style.display]="spans[i] == -1 ?  'none' : ''">
            <mat-select [(value)]="row.scholarshipStatus" (selectionChange)="updateScholarshipStatus(row)">
              <mat-option *ngFor="let item of dictionary.scholarshipStatuses" [value]="item.name">
                {{ item.name }}</mat-option>
            </mat-select>
          </td>
        </ng-container>

        <!-- Scholarship Status Column -->
        <ng-container matColumnDef="otherStatus">
          <th mat-header-cell *matHeaderCellDef>Other Status</th>
          <td mat-cell *matCellDef="let row;let i = index;" [attr.rowspan]="spans[i]" [style.display]="spans[i] == -1 ?  'none' : ''">
            <mat-select [(value)]="row.otherStatus" (selectionChange)="updateOtherStatus(row)">
              <mat-option *ngFor="let item of dictionary.otherStatuses" [value]="item.name">
                {{ item.name }}</mat-option>
            </mat-select>
          </td>
        </ng-container>

        <!-- Comment Column -->
        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef>Comment</th>
          <td mat-cell *matCellDef="let row;let i = index;" [attr.rowspan]="spans[i]" [style.display]="spans[i] == -1 ?  'none' : ''">
            <button mat-icon-button [title]="row.hasComment ? 'Edit comment: ' + row.commentBrief : 'Add comment'" (click)="openCommentDialog(row)">
              <mat-icon aria-hidden="false" aria-label="Comment">
                {{row.hasComment ? 'comment' : 'add_comment'}}
              </mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openDetailsDialog(row)">
                <mat-icon>details</mat-icon>
                <span>Details</span>
              </button>
              <button mat-menu-item (click)="openCommentDialog(row)">
                <mat-icon aria-hidden="false" aria-label="Comment">
                  {{row.hasComment ? 'comment' : 'add_comment'}}
                </mat-icon>
                <span>{{row.hasComment ? 'Edit comment' : 'Add comment'}}</span>
              </button>
            </mat-menu>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="pagination.pageSize"></mat-paginator>
  </mat-card-content>
</mat-card>
