<div class="container">
  <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" style="display: none;" />
  <button mat-raised-button color="primary" (click)="csvReader.click()">Choose Spreadsheet File (CSV)</button>

  <mat-progress-bar *ngIf="bufferValue > 0" class="example-margin" color="primary" mode="buffer" [value]="progressValue" [bufferValue]="bufferValue"></mat-progress-bar>


  <table mat-table *ngIf="bufferValue > 0" [dataSource]="limitedRecords">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
    </ng-container>

    <!-- SLF Column -->
    <ng-container matColumnDef="slf">
      <th mat-header-cell *matHeaderCellDef> SLF (Uni10Id)</th>
      <td mat-cell *matCellDef="let element;"> {{element.slf}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element;"> {{element.name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef> Surname </th>
      <td mat-cell *matCellDef="let element;"> {{element.surname}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element;"> {{element.email}} </td>
    </ng-container>

    <!-- Password Column -->
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Password </th>
      <td mat-cell *matCellDef="let element;"> {{element.password}} </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element;"> {{element.id}} </td>
    </ng-container>

    <!-- SubId Column -->
    <ng-container matColumnDef="subid">
      <th mat-header-cell *matHeaderCellDef> SubId </th>
      <td mat-cell *matCellDef="let element;"> {{element.subid}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element;">
        <button mat-raised-button (click)="findOrCreateInU10(element)">Find or Create in U10</button>
        <button mat-raised-button [disabled]="!element.id || element.subid" (click)="createInIdP(element)">Creare in IdP</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
