<mat-card>
  <mat-card-header>
    <mat-card-title>Filters</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="8" rowHeight="50px">
      <mat-grid-tile colspan="4">
        <mat-form-field>
          <mat-label>Institution</mat-label>
          <mat-select
            [(value)]="selected.institutions"
            multiple
            (closed)="refreshLists()"
          >
            <mat-option *ngFor="let item of institutions" [value]="item.id">{{
              item.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <mat-form-field>
          <mat-label>School/Department</mat-label>
          <mat-select
            [(value)]="selected.departments"
            multiple
            (closed)="refreshLists()"
          >
            <mat-option *ngFor="let item of departments" [value]="item.id">
              ({{ item.id }}){{ item.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="7">
        <mat-form-field>
          <mat-label>Programme</mat-label>
          <mat-select [(value)]="selected.programmes" multiple>
            <mat-option *ngFor="let item of programmes" [value]="item.id">{{
              item.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-form-field>
          <mat-label>Year</mat-label>
          <mat-select [(value)]="selected.years" multiple>
            <mat-option
              *ngFor="let item of semesters"
              [value]="item.yearOfStudy"
              >{{ item.yearOfStudy }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="8">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput [(value)]="selected.text" />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
