<h1 mat-dialog-title>Details for student {{data.person.name}} {{data.person.surname}}</h1>
<div mat-dialog-content>
  <mat-grid-list cols="4">

    <mat-grid-tile colspan="2">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Student name" [(ngModel)]="data.person.name" />
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field>
        <mat-label>Surname</mat-label>
        <input matInput placeholder="Student surname" [(ngModel)]="data.person.surname" />
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="4">
      <mat-form-field>
        <mat-label>Comment</mat-label>
        <textarea matInput rows="4" placeholder="Ex. Good student..." [(ngModel)]="data.comment"></textarea>
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
