<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Registration</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">


        <ul class="navbar-nav flex-grow" *ngIf="!isAuthenticated">
          <li class="nav-item">
            <button mat-button color="warn" (click)="login()">Login</button>
          </li>
        </ul>


        <ul class="navbar-nav flex-grow" *ngIf="isAuthenticated">

          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="UserRolesContains(['Supervisor'])">
            <a class="nav-link text-dark" [routerLink]="['/register']">Register</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="UserRolesContains(['idpadmin'])">
            <a class="nav-link text-dark" [routerLink]="['/user']">Users</a>
          </li>

          <li class="nav-item">
            <button mat-button color="warn" (click)="logout()">Logout</button>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
