<div class="container" *ngIf="!isAuthenticated">
  <h1>Welcome!</h1>
  <button mat-raised-button (click)="login()" class="primary">Login</button>
</div>
<div class="container" *ngIf="isAuthenticated">
  <h1>Hello, {{ userData.given_name }}! (role: {{userData.role|json}})</h1>
  <p>Welcome to Registration.</p>
  <div>
    <button mat-raised-button color="warn" (click)="logout()">Logout</button>
  </div>
  <pre>isAuthenticated: {{isAuthenticated|json}}</pre>
  <pre>userData: {{userData|json}}</pre>
</div>
